<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378287013945-v2447qte2q4buint8rebes86cft3oqbm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378287013945-v2447qte2q4buint8rebes86cft3oqbm</string>
	<key>API_KEY</key>
	<string>AIzaSyBuXjHIsfL3tm4npyJSvHyXgOOtY43NjCE</string>
	<key>GCM_SENDER_ID</key>
	<string>378287013945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anat.keren.Final-Project</string>
	<key>PROJECT_ID</key>
	<string>ios-final-project-anat-keren</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-final-project-anat-keren.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378287013945:ios:ac0d471e11a4a3f1ebcde8</string>
</dict>
</plist>